* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



h2 {
    font-size: 20px;
    margin: 15px 0 15px 0;
}





.card {
    width: 15rem;
    height: 15rem;
    margin: 30px;
    border-radius: 30px;
    background: #e2ecee;
    box-shadow: 8px 8px 10px #bcc4c6, -8px -8px 10px #ffffff;

}



.textArea {
    text-align: center;
    padding: 10px 25px;
    margin: 0 0 5px 0;
}